/* start main setting */
:root {
  --main-color: rgb(183, 129, 29);
  --main-padding: 50px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* end main setting */
/*start responsive Design 
  small devices
  */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* medium devices */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Large devices */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* very Large devices */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*end responsive Design */
/* start main menu */
.main-container {
  display: flex;
}
.main-menu {
  color: white;
  width: 15%;
  background-color: #181a1b;
  flex: 1;
}
.main-menu .logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  position: relative;
}
.main-menu .logo::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 100px;
  height: 2px;
  background-color: #000000;
}
.main-menu .logo::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 90px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
}
.main-menu ul {
  padding: 10px;
}
.main-menu ul li {
  list-style: none;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  display: flex;
  gap: 5%;
}
.main-menu ul li.active {
  background-color: #1d2021;
  border-radius: 5px;
}
.main-menu ul li a {
  color: #e8e6e3;
  text-decoration: none;
  cursor: pointer;
}
.main-menu ul li i {
  width: 20px;
}
@media (max-width: 1199px) {
  .main-menu .logo::before,
  .main-menu .logo::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .main-menu ul {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main-menu {
    margin-top: -20px;
  }
  .main-menu .logo {
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
  }
  .main-menu ul {
    padding: 0;
    margin-top: -20px;
  }
  .main-menu ul li i {
    margin-left: 0;
    cursor: pointer;
    margin: 0 auto;
  }

  .main-menu ul li a {
    display: none;
  }
}

/* end main menu */
/* start main-container */
.main-content {
  background-color: #181a1b;
  width: 85%;
}
.main-content .header {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.main-content .header .search i {
  margin-right: 10px;
  color: #3e4446;
  font-size: 20px;
  font-weight: bold;
}
.main-content .header .search .input {
  border-radius: 8px;
  background-color: transparent;
  padding: 10px;
  border-color: #3e4446;
  color: white;
}
.main-content .header .search .input:focus {
  outline: none;
}
.main-content .header .search .input::placeholder {
  color: #3e4446;
  font-weight: bold;
}
.main-content .header .user {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .header .user i {
  margin-right: 15px;
  position: relative;
}
.main-content .header .user img {
  width: 40px;
}

.dashboard {
  padding: 20px;
  background-color: #1e2021;
}
.dashboard h1 {
  color: white;
}
@media (max-width: 575px) {
  .main-menu {
    box-shadow: none;
  }
  .dashboard h1 {
    font-size: 20px;
  }
  .main-content .header .search {
    display: none;
  }
  .main-content .header .user {
    margin: 0 auto;
  }
}
.first-section .left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media (max-width: 991px) {
  .first-section .left {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .first-section .left {
    grid-template-columns: repeat(1, 1fr);
  }
}
.first-section .left .content {
  background-color: #1a1a1a;
}
.first-section .left .userphoto img {
  width: 60px;
  position: absolute;
  margin: 10px;
}
.first-section .left .mainphoto img {
  width: 100%;
}
.first-section .left .info {
  padding: 10px;
}
.first-section .left .info h3 {
  color: white;
}
.first-section .left .info p {
  color: #3e4446;
}
.first-section .left .info span {
  background-color: #005ecc;
  color: white;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: fit-content;
}
.first-section .left .footerprice {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e4446;
  border-top: 1px solid #3e4446;
}
/* end main-container */
