/* start main setting */
:root {
  --main-color: rgb(183, 129, 29);
  --main-padding: 50px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* end main setting */
/*start responsive Design 
    small devices
    */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* medium devices */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Large devices */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* very Large devices */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*end responsive Design */
/* start main menu */
.main-container {
  display: flex;
}
.main-menu {
  color: white;
  width: 15%;
  background-color: #181a1b;
  flex: 1;
}
.main-menu .logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  position: relative;
}
.main-menu .logo::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 100px;
  height: 2px;
  background-color: #000000;
}
.main-menu .logo::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 90px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
}
.main-menu ul {
  padding: 10px;
}
.main-menu ul li {
  list-style: none;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  display: flex;
  gap: 5%;
}
.main-menu ul li.active {
  background-color: #1d2021;
  border-radius: 5px;
}
.main-menu ul li a {
  color: #e8e6e3;
  text-decoration: none;
  cursor: pointer;
}
.main-menu ul li i {
  width: 20px;
}
@media (max-width: 1199px) {
  .main-menu .logo::before,
  .main-menu .logo::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .main-menu ul {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .main-menu {
    margin-top: -20px;
  }
  .main-menu .logo {
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
  }
  .main-menu ul {
    padding: 0;
    margin-top: -20px;
  }
  .main-menu ul li i {
    margin-left: 0;
    cursor: pointer;
    margin: 0 auto;
  }

  .main-menu ul li a {
    display: none;
  }
}

/* end main menu */
/* start main-container */
.main-content {
  background-color: #181a1b;
  width: 85%;
}
.main-content .header {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.main-content .header .search i {
  margin-right: 10px;
  color: #3e4446;
  font-size: 20px;
  font-weight: bold;
}
.main-content .header .search .input {
  border-radius: 8px;
  background-color: transparent;
  padding: 10px;
  border-color: #3e4446;
  color: white;
}
.main-content .header .search .input:focus {
  outline: none;
}
.main-content .header .search .input::placeholder {
  color: #3e4446;
  font-weight: bold;
}
.main-content .header .user {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .header .user i {
  margin-right: 15px;
  position: relative;
}
.main-content .header .user img {
  width: 40px;
}

.dashboard {
  padding: 20px;
  background-color: #1e2021;
}
.container {
  display: flex;
}
@media (max-width: 991px) {
  .container {
    flex-direction: column;
  }
}
.dashboard h1 {
  color: white;
}
/* start left */

.dashboard .left {
  background-color: #222426;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .dashboard .left {
    margin-bottom: 20px;
  }
}
.first-section .container1 .left1 {
  display: flex;
  align-items: center;
  background-color: #222426;
  width: 100%;
}
.first-section .container1 .left1 .user {
  position: relative;
  top: 5%;
  left: 7%;
  text-align: center;
}
.first-section .container1 .left1 .user h2 {
  color: white;
}
.first-section .container1 .left1 .user p {
  color: #3e4446;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.first-section .container1 .left1 .user div {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  height: 5px;
  background-color: #181a1b;
  position: relative;
  left: 20%;
}
.first-section .container1 .left1 .user div span {
  width: 70px;
  height: 100%;
  background-color: #005ecc;
  display: block;
}
.first-section .container1 .left1 .user i {
  margin-top: 10px;
  color: #f6a823;
  margin-bottom: 15px;
}
.first-section img {
  width: 80px;
}
.first-section .information {
  position: relative;
  top: 0;
  left: 12%;
  width: 65%;
}
.first-section .information .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-section .information .content .box {
  width: 100%;
}
.first-section .information .content:not(:last-of-type) {
  border-bottom: 1px solid #3e4446;
}
.first-section .information .content .box:first-of-type {
  margin-bottom: 10px;
}
.first-section .information .content .box .toggle-switch {
  width: 80px;
  height: 20px;
  background-color: #005ecc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.first-section .information .content .box.true .toggle-switch::before {
  content: "\f058";
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  color: white;
  position: absolute;
  left: 0;
  display: block;
}
.first-section .information .content .box .toggle-switch::after {
  content: "\f057";
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  position: absolute;
  right: 0;
  display: none;
}
.first-section .information .content .box.false .toggle-switch::after {
  display: block;
}
@media (max-width: 767px) {
  .first-section .left1 {
    flex-direction: column;
  }
  .first-section .information {
    left: 0;
  }
  .first-section .information .content {
    flex-direction: column;
    text-align: center;
  }
  .first-section .information .content .box .toggle-switch {
    margin: 0 auto;
  }
  .first-section .information .content .box p {
    margin: 10px;
  }
  .first-section .left1 .user {
    top: 0;
    margin-top: 10px;
  }
}
.first-section .information .content .box p {
  color: #3e4446;
}
.first-section .information .content .box p span {
  color: white;
}

/* end left */ /* start right */
.second-section .right {
  width: 100%;
  background-color: #222426;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .left {
    width: 100% !important;
  }
}
.right .info,
.left .info {
  padding: 20px;
}
.right .info h2,
.left .info h2 {
  color: white;
}
.right .info p,
.left .info p {
  color: #3e4446;
  font-weight: bold;
  font-size: 15px;
}
.right .info p {
  margin: 0;
}

@media (max-width: 575px) {
  .main-menu {
    box-shadow: none;
  }
  .dashboard h1 {
    font-size: 20px;
  }
  .main-content .header .search {
    display: none;
  }
  .main-content .header .user {
    margin: 0 auto;
  }
}
/* end right */
/* end main-container */
.second-section .container {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
/* start second-section left */
.second-section .left {
  width: 45%;
  margin-right: 30px;
}
.second-section .left .box {
  padding: 10px;
}
.second-section .left .box:not(:last-of-type) {
  border-bottom: 1px solid #3e4446;
}
.second-section .left .box span {
  background-color: #3e4446;
  color: white;
  display: inline-flex;
  width: 100px;
  height: 20px;
  border-radius: 2px;
  width: fit-content;
}

/* end second-section left */
/* start second-section right */
.second-section .right {
  width: 100%;
}
.second-section .right .content .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.second-section .right .content .box h3 {
  color: white;
}
.second-section .right .content .box:not(:last-of-type) {
  border-bottom: 1px solid #3e4446;
}
.second-section .right .content .box .photoandinfo {
  display: flex;
  align-items: center;
}
.second-section .right .content .box .photoandinfo h3,
.second-section .right .content .box .time h3 {
  margin: 0;
}
.second-section .right .content .box .time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.second-section .right .content .box .photoandinfo p,
.second-section .right .content .box .time p {
  margin-top: 5px;
}
.second-section .right .content .box .photoandinfo img {
  width: 90px;
  height: 90px;
}
@media (max-width: 575px) {
  .second-section .right .content .box .photoandinfo {
    flex-direction: column;
  }
  .second-section .right .content .box .photoandinfo h3,
  .second-section .right .content .box .photoandinfo p {
    text-align: center;
  }
  .second-section .right .content .box {
    flex-direction: column;
  }
}
/* end second-section right */
